<main>
  <div class="data-content" *ngIf="status==200 !=null  else Errors">
    <h2 class="content-title"></h2>
    <div
      class="button-div">
      <button class="btn-delete" (click)="deletePatient()"
              title="Delete patient"><i class="fa fa-trash"></i></button>
      <button class="btn-note"
              routerLink="/note/add/{{patient?.id}}"
              title="Add note"><i class="fa fa-file"></i></button>
      <button class="btn-modify"
              routerLink="/patient/update/{{patient?.id}}"
              title="Modify patient informations"><i class="fa fa-pen"></i></button>
    </div>
    <div class="patient-data-card">
      <div class="infos-persos">
        <div class="civility-card">{{patient?.givenName}}</div>
        <div class="civility-card">{{patient?.familyName}}</div>
      </div>
      <div class="patient-data">
        <div class="patient-file-set">
          <div class="patient-data-file-name">Patient ID:</div>
          <div class="patient-data-file-data">{{patient?.id}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Given Name:</div>
          <div
            class="patient-data-file-data">{{patient?.givenName}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Family Name:</div>
          <div class="patient-data-file-data">{{patient?.familyName}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">BirthDate:</div>
          <div
            class="patient-data-file-data">{{patient?.dateOfBirth}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Gender:</div>
          <div
            class="patient-data-file-data">{{patient?.gender}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Address:</div>
          <div
            class="patient-data-file-data">{{patient?.address}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Phone:</div>
          <div
            class="patient-data-file-data">{{patient?.phoneNumber}}</div>
        </div>
        <div class="patient-file-set">
          <div class="patient-data-file-name">Notes:</div>
          <div class="patient-data-file-data">Vulcan man who try to kolinar with a frog like
            a Klingon
          </div>
        </div>
      </div>
    </div>
    <div class="notes-wrapper">
      <h1 class="content-title"></h1>
      <div class="note-content" *ngFor="let tempNote of notes">
        <button (click)="openModal(tempNote.id)">
          <div class="note-header">
            <div class="note-title-info">
              <p class="note-title-date">{{tempNote.date}}</p>
              <p class="note-title-title">{{tempNote.title}}</p>
            </div>
          </div>
          <jw-modal id="{{tempNote.id}}">
            <div class="note-modal">
              <div class="modal-note-title">
                <div class="modal-field-name">Title:</div>
                <span>{{tempNote.title}}</span>
              </div>
              <div class="modal-note-note">
                <div class="note-modal-area" [innerText]="tempNote.note"></div>
              </div>
            </div>
            <div class="button-div-modal">
              <button class="modal-close"
                      (click)="closeModal(tempNote.id)"
                      title="Close windows"><i class="fa fa-times"></i></button>
              <button class="btn-delete"
                      (click)="deleteNote(tempNote.id)"
                      title="Delete this note"><i class="fa fa-trash"></i></button>
              <button class="btn-modify"
                      routerLink="/note/update/{{tempNote?.id}}"
                      title="Modify this note"><i class="fa fa-pen"></i></button>
            </div>
          </jw-modal>
        </button>

      </div>
    </div>
  </div>

  <ng-template #Errors>
    <div class="data-content">
      <div class="error-message" *ngIf="status==404"><span>No Patients Found.</span>
        <span>{{message}}</span>
      </div>
      <div class="error-message" *ngIf="status==400"><span>Bad Parameters used</span>
        <span>{{message}}</span>
      </div>
    </div>
  </ng-template>
</main>
