<main>
  <div class="data-content" *ngIf="patient !=null else Test">
    <h2></h2>
    <div class="patient-data-card">
      <div class="infos-persos">
        <span class="civility-card">{{patient.body.givenName}}</span>
        <span class="civility-card">Picard</span>
      </div>
      <div class="patient-data">
        <span>Patient ID: <span></span></span>
        <span>Given Name: JeanLuc</span>
        <span>Family Name: Picard</span>
        <span>Address: Enterprise NCC 1701.D Starfleet Academy</span>
        <span>Gender: Vulcan</span>
        <span>Notes: Vulcan man who tried to kolinar with a frog like a Klingon</span>
      </div>
    </div>
  </div>
  <ng-template #Test>
  <div >On met un truc</div>
  </ng-template>
</main>
