<main>
  <div class="data-content">
    <h2 class="content-title">Update note</h2>
    <div class="patient-data-card">
      <div class="infos-persos">
        <img src="assets/imgs/logo.png" alt="logo mediscreen">
      </div>
      <form [formGroup]="updateNoteForm" (ngSubmit)="onSubmit()" class="patient-data-form">
        <div class="set-fields">
          <label for="title" class="patient-data-field-name">Title<span
            class="mandatory-star"> *</span> :
          </label>
          <div class="flex-for-errors-form">
            <input formControlName="title" id="title" placeholder="Title"
                   type="text" class="patient-data-field-data"
                   [ngClass]="{'is-invalid':validator.title.errors }" >
            <div *ngIf="validator?.family?.errors" class="invalid-feedback">
              <div *ngIf="updateNoteForm?.controls?.title?.errors?.minlength">Title must
                have at least 2 characters</div>
              <div *ngIf="updateNoteForm?.controls?.title?.errors?.required">Title
                required</div>
            </div>
          </div>
        </div>

        <div class="set-fields">
          <label for="note" class="patient-data-field-name">Note<span
            class="mandatory-star"> *</span> : </label>
          <div class="flex-for-errors-form">
            <textarea formControlName="note" id="note" placeholder="Note" type="text"
                   class="patient-data-field-data" name="note" value="" [ngClass]="{
            'is-invalid':
             validator.note.errors }" ></textarea>
            <div *ngIf="validator?.note?.errors" class="invalid-feedback">
              <div *ngIf="updateNoteForm?.controls?.note?.errors?.minlength">Note must
                have at least 2 characters</div>
              <div *ngIf="updateNoteForm?.controls?.note?.errors?.required">Note
                required</div>
            </div>
          </div>
        </div>

        <div class="mandatory-explanation">
          * Mandatory fields
        </div>
        <div class="button-div btn-form">
          <button class="btn-delete" routerLink="/patients"><i class="fa fa-times"></i></button>
          <button class="btn-valid" type="submit" [disabled]="!updateNoteForm.valid"><i
            class="fa fa-check"></i></button>
        </div>
      </form>
    </div>
  </div>
</main>
