<main>
  <div class="data-content">
    <h1 class="content-title">Patients</h1>
    <div class="table-wrapper" *ngIf="status ==200 else Errors">
      <table class="table-data">
        <thead>
        <tr>
          <th>Id Patient</th>
          <th>Family Name</th>
          <th>Given Name</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempPatient of patients"
            routerLink="../patient/file/{{tempPatient.id}}">
            <td>
              {{tempPatient.id}}
            </td>
            <td>
              {{tempPatient.familyName}}
            </td>
            <td>
              {{tempPatient.givenName}}
            </td>
            <td>
              {{tempPatient.dateOfBirth}}
            </td>
            <td>
              {{tempPatient.gender}}
            </td>
            <td>
              {{tempPatient.address}}
            </td>
            <td>
              {{tempPatient.phoneNumber}}
            </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <ng-template #Errors>
    <div class="data-content">
      <div class="error-message" *ngIf="status==404"><span>No Patients Found.</span>
        <span>Add patients and/or check connection with database</span>
      </div>
      <div class="error-message" *ngIf="status==400"><span>Bad Parameters used</span>
        <span>{{message}}</span>
      </div>
    </div>
  </ng-template>
</main>


