<script src="patient-add.component.ts"></script>
<main>
  <div class="data-content">
    <h2 class="content-title">Add patient</h2>
    <div class="patient-data-card">
      <div class="infos-persos">
        <img src="assets/imgs/logo.png" alt="logo mediscreen">
      </div>
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="patient-data-form">
        <div class="set-fields">
          <label for="familyName" class="patient-data-field-name">Last name : <span
            class="mandatory-star"> *</span> :
          </label>
          <div class="flex-for-errors-form">
            <input formControlName="family" id="familyName" placeholder="Last name"
                   type="text"
                   class="patient-data-field-data" name="familyName" [ngClass]="{ 'is-invalid':
             validator.family.errors }">
            <div *ngIf="validator?.family?.errors" class="invalid-feedback">
              <div *ngIf="addUserForm?.controls?.family?.errors?.minlength">Family Name must
                have at least 2 characters
              </div>
              <div *ngIf="addUserForm?.controls?.family?.errors?.required">Family Name
                required
              </div>
            </div>
          </div>
        </div>

        <div class="set-fields">
          <label for="givenName" class="patient-data-field-name">First name : <span
            class="mandatory-star"> *</span> : </label>
          <div class="flex-for-errors-form">
            <input formControlName="given" id="givenName" placeholder="First name" type="text"
                   class="patient-data-field-data" name="givenName" [ngClass]="{ 'is-invalid':
             validator.given.errors }">
            <div *ngIf="validator?.given?.errors" class="invalid-feedback">
              <div *ngIf="addUserForm?.controls?.given?.errors?.minlength">Given Name must
                have at least 2 characters
              </div>
              <div *ngIf="addUserForm?.controls?.given?.errors?.required">Given Name
                required
              </div>
            </div>
          </div>
        </div>

        <div class="set-fields">
          <label for="address" class="patient-data-field-name">Address : </label>
          <div class="flex-for-errors-form">
            <input formControlName="address" id="address" placeholder="Address" type="text"
                   class="patient-data-field-data"
                   name="address">
          </div>
        </div>

        <div class="set-fields">
          <label for="birthdate" class="patient-data-field-name">BirthDate : <span
            class="mandatory-star"> *</span> : </label>
          <div class="flex-for-errors-form">
            <input formControlName="birthdate" id="birthdate" placeholder="Birthdate"
                   type="date"
                   class="patient-data-field-data" name="birthdate" [ngClass]="{ 'is-invalid':
             validator.birthdate.errors }">
            <div *ngIf="validator?.birthdate?.errors" class="invalid-feedback">
              <div *ngIf="validator?.birthdate?.errors?.required">BirthDate is required</div>
              <div *ngIf="validator?.birthdate?.errors?.max">BirthDate can't be in future</div>
            </div>
          </div>
        </div>

        <div class="set-fields">
          <label for="patient-gender-female" class="patient-data-field-name">Gender : <span
            class="mandatory-star"> *</span> : </label>
          <div class="flex-for-errors-form">
            <div class="radio-container">
              <input formControlName="gender" checked='' id='patient-gender-female'
                     name='gender' type='radio'
                     value='F' [ngClass]="{ 'is-invalid':
             validator?.gender?.errors }">
              <label for='patient-gender-female'>Female</label>
              <input formControlName="gender" id='patient-gender-male' name='gender'
                     type='radio' value='M' [ngClass]="{ 'is-invalid':
             validator?.gender?.errors }">
              <label for='patient-gender-male'>Male</label>

            </div>
            <div *ngIf="validator?.gender?.errors" class="invalid-feedback">
              <div *ngIf="validator?.gender?.errors?.required">Gender is required</div>
            </div>
          </div>
        </div>

        <div class="set-fields">
          <label for="phone" class="patient-data-field-name">Phone number : </label>
          <div class="flex-for-errors-form">
            <input formControlName="phone" id="phone" placeholder="Phone number" type="text"
                   class="patient-data-field-data"
                   name="phone">
          </div>
        </div>
        <div class="mandatory-explanation">
          * Mandatory fields
        </div>
        <div class="button-div btn-form">
          <button class="btn-delete" routerLink="/patients"
                  title="Cancel patient creation "><i class="fa fa-times"></i></button>
          <button class="btn-valid" type="submit" [disabled]="!addUserForm.valid"
                  title="Save patient"><i
            class="fa fa-check"></i></button>
        </div>
      </form>
    </div>
  </div>
</main>
