<main>
  <div class="data-content">
    <h1 class="content-title"> Welcome to Mediscreen</h1>
    <div class="error-message">
      <div class="welcome-content">
        <p>When you writes notes about your patients keep in mind that these words are use as
          triggers to calculate diabetes risks. They are only counted once, even if you write
          them multiple times, in order to avoid false results.</p>
        <p>For example if you write "patient is below height" or "patient height is over
          normal height", the trigger word height is counted only once, regardless of the number
          of times this word is writtent, whetether une one or multiple notes.
          Triggers words are not case sensitive</p>

        <div>
          Triggers words:
          <ul>
            <li>Hemoglobin A1C</li>
            <li>MicroAlbumin</li>
            <li>Height</li>
            <li>Weight</li>
            <li>Smoker</li>
            <li>Abnormal</li>
            <li>Cholesterol</li>
            <li>Dizziness</li>
            <li>Relapse</li>
            <li>Reaction</li>
            <li>Antibodies</li>
          </ul>
        </div>
<p>If you want to add more triggers words, or modify the risk calculation process, feel free to
  contact us.</p>
      </div>
      </div>
  </div>
</main>
